.userPanel {
  margin-bottom: 40px;
}

.text {
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .userPanel {
    display: flex;
    justify-content: space-between;
  }

  .text {
    line-height: 1.5;
  }
}
