.backdrop {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999999999;
  background-color: rgba(46, 47, 66, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  margin: auto;
  width: 200px;
}

.mask {
  position: relative;
  margin: auto;
  width: 200px;

  text-align: center;
  letter-spacing: 0px;

  background-image: -webkit-radial-gradient(
    center 10px,
    300px 300px,
    var(--main-black-color) 50%,
    var(--main-green-color) 50%
  );

  background-size: 100px 300px;

  background-clip: text;
  animation-name: wave-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;

  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

.mask span {
  font-size: 100px;
  display: block;
}

@media screen and (min-width: 768px) {
  .mask {
    background-size: 100px 335px;
    animation-duration: 3s;
  }

  .mask span {
    font-size: 200px;
  }
}

@keyframes wave-animation {
  0% {
    background-position: 500px 10px;
  }
  50% {
    background-position: 250px -150px;
  }

  100% {
    background-position: 0px -130px;
  }
}

@media screen and (min-width: 768px) {
  @keyframes wave-animation {
    0% {
      background-position: 500px 10px;
    }
    50% {
      background-position: 250px -150px;
    }

    100% {
      background-position: 0px -100px;
    }
  }
}
