.buttonTour {
  position: absolute;
  top: 12px;
  right: 5px;
  z-index: 999;
  padding: 10px 10px;
  border: transparent;
  cursor: pointer;
  background-color: transparent;
}

.icon {
  color: var(--main-black-gray-color);
  width: 20px;
  height: 20px;
}

.iconColor {
  fill: #ceff09b1;
}

@media screen and (min-width: 768px) {
  .buttonTour {
    top: 20px;
    right: 20px;
  }

  .icon {
    width: 28px;
    height: 28px;
  }
}
