.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 14px;
    border-radius: 15px;
    width: 147.5px;
    background-color: var(--main-white-color);
}

.addButton {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}
  
.iconMain {
  width: 99px;
  height: 38px;
  fill: rgb(23, 159, 197) !important;
}

.addIcon {
    width: 38px;
    height: 38px;
    background-color: transparent;
    color: rgb(23, 159, 197);
}

.p {
  font-size: 14px;
  width: 65px;
}

@media screen and (min-width: 768px) {
    .wrapper {
      padding: 20px;
      gap: 10px;
      width: 192px;
    }

    .iconMain {
        width: 44px;
        height: 45px;
  }
}  