.wrapper {
  height: 106px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    height: 118px;
  }
}

.list {
  display: flex;
  column-gap: 8px;
  padding-bottom: 32px;
  list-style: none;

  overflow-x: auto;
}

.list::-webkit-scrollbar {
  height: 8px;
}

.list::-webkit-scrollbar-track {
  background-color: var(--main-white-color);
  border-radius: 9px;
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--main-black-gray-color);
  border-radius: 9px;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-green-color);
}

@media screen and (min-width: 768px) {
  .list {
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    gap: 16px;
  }
}

.text {
  height: 100%;

  align-content: center;
  text-align: center;
  text-wrap: balance;
  background-color: var(--main-white-color);
  border-radius: 16px;
  padding: 16px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-black-gray-color);
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 28px;
    line-height: 1.14286;
    padding: 24px 16px;
  }
}
