.day {
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-black-gray-color);
  text-transform: capitalize;
}

@media screen and (max-width: 360px) {
  .day {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .day {
    font-size: 28px;
    line-height: 1.14286;
  }
}
