.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  border-radius: 30px;
  width: 100%;

  background-color: var(--main-gray-color);
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 672px;
  }
}
