.container {
  margin: 0 auto;
  padding: 40px 20px 40px 20px;
  border-radius: 30px;
  max-width: 344px;
  display: flex;
  flex-direction: column;

  background-color: var(--main-gray-color);
}
.component {
  margin: 149px 0px;
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 704px;
    padding: 32px 32px 35px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    min-width: 672px;
    padding: 32px 32px 33px 32px;
  }
}
