.container {
  border-radius: 15px;
  padding: 14px 20px;
  width: fit-content;
  height: 72px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: var(--main-white-color);
  position: absolute;
  top: 106px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 14px, 20px;
  justify-content: center;
}

.userBarPopoverBtn {
  display: flex;
  gap: 8px;
  padding: 0;
  max-width: 100%;
  align-items: center;
  background-color: transparent;
  color: rgba(50, 63, 71, 0.4);
  border: none;
  cursor: pointer;
}

.settingBtn {
  color: var(--main-black-color);
}

.userBarPopoverBtn:hover {
  color: var(--main-black-color);
}

.btnIcon {
  width: 16px;
  height: 16px;
}

.textBtn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
}

@media screen and (min-width: 768px) {
  .container {
    height: 82px;
    right: 0;
    top: 64px;
  }

  .textBtn {
    font-size: 15px;
    line-height: 1.49333;
  }
}
