.form {
  font-family: Poppins;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px;
  outline: transparent;
  /* width: 303px; */
  height: 46px;
  outline: none;
}

.input:hover,
.input:focus {
  border-color: rgba(47, 47, 47, 0.6);
}

/* .input:active {
  border-color: rgba(47, 47, 47, 0.4);
} */

.input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  color: rgba(47, 47, 47, 0.6);
}

@media screen and (max-width: 374px) {
  .input {
    max-width: 303px;
  }
}

@media screen and (min-width: 375px) {
  .input {
    width: 303px;
  }
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.avatarImg {
  width: 75px;
  height: 75px;
  border: 1px solid var(--main-black-gray-color);
  border-radius: 50%;
}

.avatarBtn {
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-black-color);
  border: none;
  background-color: var(--main-white-color);
}

.avatarBtn:hover,
.avatarBtn:focus {
  color: var(--main-black-gray-color);
  font-weight: 600;
}

.gender {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-black-gray-color);
  margin-bottom: 24px;
}

.genderWrapper {
  display: flex;
  gap: 20px;
}

.genderRadio {
  /* display: flex;
  gap: 10px; */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-black-color);
}

.label {
  display: block;
  position: relative;
}

.labelText {
  padding-left: 30px;
}

.genderRadioBtn {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check,
.noCheck {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 20px;
  height: 20px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check {
  opacity: 0;
  z-index: 999;
}

.genderRadioBtn:checked ~ .check {
  opacity: 1;
}

.genderRadioBtn:checked ~ .noCheck {
  opacity: 0;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  color: var(--main-black-gray-color);
  margin-bottom: 14px;
}

.box-pass {
  position: relative;
}

.inputName {
  width: 100%;
  margin-bottom: 8px;
}

.error-input,
.error-input:hover,
.error-input:focus,
.error-input::placeholder {
  color: #ef5050;
  border-color: #ef5050;
}

.errorMes {
  position: absolute;
  top: 56px;
  right: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 2;
  color: #ef5050;
}
.email {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  color: var(--main-black-gray-color);
  margin-bottom: 24px;
}

.dailyNorma {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.dailyNormaTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-black-gray-color);
}

.dailyNormaList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-black-color);
}

.dailyNormaFormula {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-green-color);
  padding-top: 4px;
}

.dailyNormaText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(47, 47, 47, 0.6);

  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px;
  /* width: 303px; */
  height: 140px;
}

@media screen and (max-width: 374px) {
  .dailyNormaText {
    max-width: 303px;
  }
}

@media screen and (min-width: 375px) {
  .dailyNormaText {
    width: 303px;
  }
}

.span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-green-color);
  padding-right: 4px;
}

.dailyNormaTextSpan {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-black-color);
}

.weight {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-black-color);
  margin-bottom: 14px;
}

.activityTime {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-black-color);
  margin-bottom: 24px;
}

.requiredWater {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-black-color);
  margin-bottom: 14px;
}

.water {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-green-color);
}

.waterIntake {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-black-gray-color);
  margin-bottom: 40px;
}

.saveBtn {
  margin-bottom: 20px;
}

.hiden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
/* =========================== Tablet styles ========================= */

@media screen and (min-width: 768px) {
  .form {
    padding: 20px;
  }

  .input {
    padding: 16px;
    width: 568px;
    height: 56px;
  }

  .avatarImg {
    width: 100px;
    height: 100px;
  }
  .avatarBtn {
    font-size: 16px;
    line-height: 1.5;
  }
  .avatarSvg {
    width: 20px;
    height: 20px;
  }

  .gender {
    font-size: 18px;
    line-height: 1.33;
  }
  .genderRadio {
    font-size: 16px;
    line-height: 1.5;
    gap: 20px;
  }

  .name {
    font-size: 18px;
    line-height: 1.33;
  }

  .email {
    font-size: 18px;
    line-height: 1.33;
  }

  .dailyNormaTitle {
    font-size: 18px;
    line-height: 1.33;
  }
  .dailyNormaList {
    flex-direction: row;
    gap: 28px;
    font-size: 16px;
    line-height: 1.5;
  }

  .dailyNormaFormula {
    font-size: 16px;
    line-height: 1.5;
  }
  .dailyNormaText {
    font-size: 16px;
    line-height: 1.5;

    padding: 16px;
    width: 568px;
    height: 128px;
  }

  .dailyNormaTextSpan {
    font-size: 16px;
    line-height: 1.5;
  }
  .weight {
    font-size: 16px;
    line-height: 1.5;
  }

  .activityTime {
    font-size: 16px;
    line-height: 1.5;
  }

  .requiredWater {
    flex-direction: row;
    gap: 5px;
    font-size: 16px;
    line-height: 1.5;
  }

  .water {
    font-size: 15px;
    line-height: 1.49;
  }

  .waterIntake {
    font-size: 18px;
    line-height: 1.33;
  }
}

/* =========================== Desktop styles ========================= */

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    gap: 40px;
  }

  .input {
    width: 400px;
    height: 56px;
  }

  .dailyNormaText {
    width: 400px;
    height: 152px;
  }
  .waterIntake {
    margin-bottom: 0;
  }
}
