.logo {
  position: absolute;
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  top: 24px;
  left: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-black-gray-color);
}

@media only screen and (min-width: 768px) {
  .logo {
    top: 32px;
    left: 32px;
    font-size: 24px;
    line-height: 1;
  }
}
