.welcomeSection{
    background-color: var(--main-gray-color);
    border-radius: 30px;
    max-width: 343px;
    height: auto;
        
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 67px;
        
    outline: 1px solid red;
}
.subtitle {
    margin-top: 74px;
    margin-bottom: 16px;


    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.06em;
    text-align: left;

    color: var(--main-black-color);

    /* max-width: 277px;  */
}

.title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 38px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-align: left;

    color: var(--main-black-gray-color);

    max-width: 311px;

    margin-bottom: 32px;
}



