.button {
  border-radius: 40px;
  padding: 18px 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: fit-content;
  height: 60px;
}

.button.save {
  color: #323f47;
  background-color: #9be1a0;
}

.button.trytracker {
  color: #323f47;
  background-color: #9be1a0;
}

.button:hover {
  background-color: #87d28d;
}

.button.addwater {
  color: #ffffff;
  background-color: #323f47;
}

.button.addwaterblack {
  padding: 14px 20px;
  font-size: 14px;
  color: #ffffff;
  background-color: #323f47;
  margin-left: auto;
  min-width: 140px;
  width: fit-content;
  height: 46px;
}

.button.addwaterblack .icon {
  color: #ffffff;
  background-color: #323f47;
  padding: 0;
  width: 18px;
  height: 16px;
}

.button.cancel {
  color: #323f47;
  background-color: #f0eff4;
}

.button.delete {
  color: #323f47;
  background-color: #9be1a0;
}

.button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9be1a0;
  color: #323f47;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.button .icon svg {
  width: 24px;
  height: 24px;
  fill: #323f47;
  transition: fill 0.3s;
}

.button.addwater .icon {
  color: #ffffff;
  background-color: #323f47;
}

.button.addwater:hover {
  color: #9be1a0;
}
.button.addwater:hover .icon {
  color: #9be1a0;
}

.button.addwater:hover .icon {
  background-color: #323f47;
}

.button.addwater.iconOnly {
  color: #323f47;
  padding: 18px;
  width: auto;
  background-color: transparent;
}

.button.addwater.iconOnly .icon {
  background-color: #323f47;
  color: #ffffff;
}

.button.addwater.iconOnly:hover .icon {
  background-color: #9be1a0;
  color: #323f47;
}

@media (min-width: 320px) and (max-width: 480px) {
  .button.addwater {
    width: 140px;
    height: 46px;
  }

  .button.save {
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    text-align: center;
    padding: 14px 40px;
  }
  .button.save,
  .button.trytracker {
    width: 116px;
    height: 46px;
  }

  .button.delete,
  .button.cancel {
    width: 304px;
    height: 46px;
  }

  .button.addwater .icon {
    margin-right: 5px;
  }

  .button.addwater.iconOnly .icon {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .button.addwater {
    width: 141px;
    height: 60px;
    font-size: 16px;
    padding: 18px 50px;
  }

  .button.save {
  }
  
  .button.addwater .icon {
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
  }

  .button .icon svg {
    width: 24px;
    height: 24px;
    fill: #323f47;
    transition: fill 0.3s;
  }

  .button.addwater {
    width: 178px;
    height: 60px;
  }
  .button.trytracker {
    width: 169px;
    height: 60px;
  }
  .button.cancel,
  .button.delete {
    width: 170px;
    height: 60px;
  }

  .button.addwaterblack {
    padding: 18px 30px;
    font-size: 16px;
    min-width: 140px;
    height: 60px;
    line-height: 1.5;
    min-width: 178px;
  }

  .button.addwaterblack .icon {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1440px) {
  .button {
    height: 70px;
    font-size: 18px;
    padding: 20px 60px;
  }

  .button.save {
    width: 141px;
    height: 60px;
  }

  .button.trytracker {
    width: 169px;
    height: 60px;
  }

  .button.cancel,
  .button.delete {
    width: 170px;
    height: 60px;
  }
}