.AdvantagesSection{
    max-width: 343px;
    height: 100%;
    position: relative;

    outline: 1px solid red;
}

.advantagesList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 168px;

    position: absolute;
    bottom: 32px;
    right: 16px;
}

.CustomersWripper {
    position: absolute;
    bottom: 96px;
    /* right: 167px; */
    left: 16px;
}
.advHabit{
    background-color: var(--main-black-gray-color);
    color: #fff;

    width: 81px;
    height: 26px;
    border-radius: 30px;
    padding: 9px 12px;

    font-family: Poppins;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.01em;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.advStatistic{
    background-color: var(--main-green-color);
    color: var(--main-black-gray-color);
    
    width: 83px;
    height: 26px;
    border-radius: 30px;
    padding: 9px 12px;

    font-family: Poppins;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.01em;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
 }

.advRate{
    background-color: #fff;
    color: var(--main-black-gray-color);
    
    width: 108px;
    height: 26px;
    border-radius: 30px;
    padding: 9px 12px;
    
    font-family: Poppins;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.01em;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot{
    width: 8px;
    height: 8px;
    background-color: var(--main-green-color);
    border-radius: 50%;
    margin-right: 4px;
}

