.customersBox {
    width: 160px;
    height: 48px;

    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 188px;
    left: 16px;

    border-radius: 30px;
}
.customersListContainer{
    position: relative;
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.customersList {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.customersItem {
    position: absolute;
}
.customersItem:first-child{
    z-index: 3;
    left: 14px;
    top: 10px;
}
.customersItem:nth-child(2) {
    z-index: 2;
    left: 32px;
    top: 10px;
}
.customersItem:nth-child(3) {
    z-index: 1;
    left: 49px;
    top: 10px;
}

.customersText {
    font-family: Poppins;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    text-align: left;

    color: var(--main-black-gray-color)
}
.customersSpan {
    font-family: Poppins;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    text-align: left;

    color: var(--main-green-color);

    top: 0;
    left: 0;
}
