.title {
  font-family: Poppins;
  color: var(--main-black-gray-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  padding-left: 20px;
  padding-top: 20px;
}
@media screen and (min-width: 375px) {
  .wrapper {
    /* max-width: 343px; */
    width: 343px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.closeBtn {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 26px;
  right: 22px;
}

.closeBtn:hover,
.closeBtn:focus {
  width: 18px;
  height: 18px;
}

/* =========================== Tablet styles ========================= */

@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 114%;
  }

  .closeBtn {
    width: 14px;
    height: 14px;
    top: 47px;
    right: 47px;
  }

  .wrapper {
    width: 648px;
  }
}

/* =========================== Desktop styles ========================= */

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 920px;
  }
}
