.form {
  display: flex;
  flex-direction: column;
  width: 436px;
  padding-top: 14vh;
  padding-bottom: 12vh;
  /* padding-top: 18vh;
  padding-bottom: 19vh; */
}

.sign-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.header {
  font-size: 32px;
  align-self: flex-start;
  line-height: 1;
  margin-bottom: 32px;
}

.label {
  align-self: flex-start;
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 8px;
  color: var(--main-black-color);
}

.input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  padding: 16px;
  border-radius: 15px;
  margin-bottom: 16px;
  outline: transparent;
  border: 1px solid rgba(47, 47, 47, 0.2);
}

.input:hover,
.input:focus {
  border-color: var(--main-black-color);
}

.input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  color: rgba(47, 47, 47, 0.6);
}

.box-pass {
  position: relative;
}

.see-pass {
  display: none;
}

.submit {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.01em;
  width: 100%;
  padding: 16px;
  border-radius: 30px;
  margin-bottom: 16px;
  border: transparent;
  background: var(--main-green-color);
  color: var(--main-black-gray-color);
}
.submit:hover,
.submit:focus {
  background-color: #87d28d;
}

.sing-forgot-wrapper,
.paragraph-sign {
  align-content: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.03em;
  text-align: center;
  align-self: center;
  color: rgba(47, 47, 47, 0.5);
}

.sign {
  font-weight: 700;
  color: var(--main-black-color);
}

.error {
  position: absolute;
  bottom: -5px;
  right: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 2;
  color: #ef5050;
}

.error-input,
.error-input:hover,
.error-input:focus,
.error-input::placeholder {
  color: #ef5050;
  border-color: #ef5050;
}

@media screen and (min-width: 768px) {
  .sign-form {
    margin-bottom: 12px;
  }

  .header {
    font-size: 36px;
    line-height: 1.05;
  }

  .label {
    font-size: 16px;
    line-height: 1.5;
  }

  .input {
    margin-bottom: 20px;
  }

  .input,
  .input::placeholder {
    font-size: 16px;
    line-height: 1.5;
  }

  .see-pass {
    display: block;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 18px;
    right: 16px;
    background: transparent;
    border: transparent;
  }

  .error {
    font-size: 14px;
    bottom: -7px;
  }

  .icon {
    width: 20px;
    height: 20px;
    color: var(--main-black-color);
  }

  .submit {
    padding: 18px 190px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    padding-top: 15%;
    padding-bottom: 10%;
  }
}
