.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.isMobile {
  height: calc(100vh - 16px *2);
}
@media only screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    gap: 32px;

    max-height: 800px;

    /* max-width: 1376px; */
  }
}
