.wrapper {
  padding: 24px 16px 32px 16px;
  width: 100%;
  border-radius: 30px;
  background-color: var(--main-green-color);
  background-image: url('/src/img/tracker-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 262px 335px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 32px 32px 64px 32px;

    background-image: url('/src/img/tracker-tablet.png');
    background-size: 374px 477px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 672px;

    background-image: url('/src/img/tracker-desktop.png');
    background-size: 472px 604px;
  }
}

.logo {
  margin-bottom: 78px;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: left;
  color: var(--main-black-gray-color);

  cursor: default;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 32px 32px 64px 32px;

    background-image: url('/src/img/tracker-tablet.png');
    background-size: 477px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .logo {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 672px;

    background-image: url('/src/img/tracker-desktop.png');
    background-size: 580px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .logo {
    margin-bottom: 100px;
    line-height: 1;
  }
}

/* BCG IMAGE */
@media screen and (min-resolution: 192pdi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .wrapper {
    background-image: url('/src/img/tracker-mobile2x.png');
  }
}

@media screen and (min-resolution: 192pdi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .wrapper {
    background-image: url('/src/img/tracker-tablet2x.png');
  }
}

@media screen and (min-resolution: 192pdi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .wrapper {
    background-image: url('/src/img/tracker-desktop2x.png');
  }
}
