.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 518px;
  /* height: 587px; */
  max-height: 650px;
}

@media (min-width: 320px) and (max-width: 375px) {
  .modal {
    width: 343px;
    max-height: 650px;
  }
}

.closeButton {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 10px;
  right: 40px;
  background: none;
  border: none;
  font-size: 3em;
  cursor: pointer;
  color: #333;
}
