/* src/index.css */

:root {
  --main-black-color: #2F2F2F;
  --main-black-gray-color: #323F47;
  --main-green-color: #9BE1A0;
  --main-gray-color: #F0EFF4;
  --main-white-color: #FFFFFF;

  background-color: var(--main-white-color);
  color: var(--main-black-gray-color);

  
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 0 16px;
  min-width: 320px;
  max-width: 375px;
}

@media screen and (min-width: 375px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
    min-width: none;
    max-width: none;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}