/* src/index.css */

:root {
  --main-black-color: #2f2f2f;
  --main-black-gray-color: #323f47;
  --main-green-color: #9be1a0;
  --main-gray-color: #f0eff4;
  --main-white-color: #ffffff;

  background-color: var(--main-white-color);
  color: var(--main-black-gray-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 0 16px;
  min-width: 320px;
  max-width: 375px;
}

@media screen and (min-width: 375px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
    min-width: none;
    max-width: none;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 100vh;
  }
}
