.languageSelector {
  position: relative;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.settings {
  background-color: transparent;
  outline: transparent;
  position: absolute;
  z-index: 10;
  bottom: 40px;
  right: 20px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.languageLabel {

  /* font-size: 24px; */
  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  cursor: default;

}

.languageSelect {
  background-color: transparent;
  outline: transparent;
  border-radius: 30px;
  border: 1px solid var(--main-black-gray-color);
  padding: 8px 14px 8px 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--main-black-gray-color);
  font-size: 12px;
  min-width: 60px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
  cursor: pointer;
  transition: border-color var(--animation), color var(--animation);

  /* ? Delete icon */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:hover,
  &:active {
    color: var(--main-green-color-active);
    border-color: var(--main-green-color-active);
  }
}

@media screen and (min-width: 768px) {
  .settings {
    height: 56px;
    right: 40px;
  }

  .languageSelect {
    font-size: 14px;
    min-width: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .languageSelect {
    font-size: 16px;
  }
}
