.welcomeSection {
  position: relative;
  background-color: var(--main-gray-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px;
  min-height: 411px;
}

.isMobile {
  height: 100%;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .welcomeSection {
    max-width: 704px;
    min-height: 498px;
  }
}

/* dekstop */
@media only screen and (min-width: 1440px) {
  .welcomeSection {
    width: 672px;
    min-height: 736px;
  }
}

.logoLangWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
