.welcomeSection {
  background-color: var(--main-gray-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  flex-wrap: wrap;
  padding: 24px 16px;
  min-height: 412px;
  height: 780px;
}

.isMobile {
  height: 100%;
}

.logoLangWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;

  flex: 0 0 auto;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .welcomeSection {
    padding: 32px;
    gap: 50px;
    min-height: 500px;
    height: 960px;
  }
}

/* dekstop */
@media only screen and (min-width: 1440px) {
  .welcomeSection {
    width: 672px;
    padding: 32px;
    height: 736px;
  }
}
