.welcomeSection {
  background-color: var(--main-gray-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px 16px 67px;
  gap: 74px;
}

.isMobile {
  height: 100%;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .welcomeSection {
    padding: 32px 32px 50px;
    gap: 50px;
    min-height: 500px;
  }
}

/* dekstop */
@media only screen and (min-width: 1440px) {
  .welcomeSection {
    width: 672px;
    padding: 32px 64px 188px 32px;
    gap: 80px;

    align-content: space-between;
  }
}

.logoLangWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
