.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 999;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 10000;
  pointer-events: all;
}

.modalContent {
  position: relative;
  margin: 0 16px;
  padding: 20px;
  border-radius: 12px;
  background-color: #ffffff;
  max-height: 80vh;
  overflow-y: auto;
  transform: scale(0.5);
  transition: 0.4s all;
}

@media screen and (min-width: 375px) {
  .modalContent {
    width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .modalContent {
    width: 648px;
    padding: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .modalContent {
    width: 920px;
  }
}

.modalContent.active {
  transform: scale(1);
}

.icon {
  stroke: #2f2f2f;
}

.modalContent::-webkit-scrollbar {
  height: 283px;
  width: 8px;
}

.modalContent::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #ffffff;
}

.modalContent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #f0eff4;
}
