.wrapper {
  margin-bottom: 49px;
  padding: 12px;
  width: fit-content;
  height: 54px;
  border-radius: 15px;

  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: var(--main-white-color);

  cursor: default;

}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 14px 18px;
    height: 78px;
    margin-bottom: 87px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    margin-bottom: 284px;
  }

}

.value {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 1;
  text-align: left;
  color: var(--main-black-gray-color);
}

@media screen and (min-width: 768px) {
  .value {
    margin-bottom: 4px;

    font-size: 15px;
    line-height: 1.49333;
  }
}

.text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  text-align: left;
  letter-spacing: 0;

  color: rgba(47, 47, 47, 0.6);
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 12px;
    line-height: 1.86667;
  }
}
