.wraper {
  position: relative;
  max-width: 343px;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 16px;
  outline: transparent;
  outline: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
}

.input:hover,
.input:focus {
  border-color: rgba(47, 47, 47, 0.6);
}

.input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  border-radius: 50%;
}

.avatarImg {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.avatarBtn {
  display: flex;
  padding: 0;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--main-black-color);
  border: none;
  background-color: transparent;
  transition: font-weight var(--animation);
  cursor: pointer;
}

.avatarInput {
  display: none;
}

.gender {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.genderWrapper {
  display: flex;
  gap: 20px;
}

.genderRadio {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--main-black-color);
  cursor: pointer;
}

.params {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.label {
  display: block;
  position: relative;
}

.labelText {
  padding-left: 30px;
}

.genderRadioBtn {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check,
.noCheck {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.check {
  opacity: 0;
  z-index: 999;
}

.genderRadioBtn:checked ~ .check {
  opacity: 1;
}

.genderRadioBtn:checked ~ .noCheck {
  opacity: 0;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-black-gray-color);
  margin-bottom: 14px;
}

.inputName {
  width: 100%;
}

.error-input,
.error-input:hover,
.error-input:focus,
.error-input::placeholder {
  color: #ef5050;
  border-color: #ef5050;
}

.errorMes {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #ef5050;
  margin-top: 10px;
}

.email {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-black-gray-color);
  margin-bottom: 24px;
}

.dailyNorma {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.dailyNormaTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-black-gray-color);
}

.dailyNormaList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--main-black-color);

  cursor: default;

}

.formulaTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
}

.dailyNormaFormula {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--main-green-color);
  margin-top: 4px;
}

.dailyNormaTextContainer {
  padding: 16px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
}

.dailyNormaText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.span {
  color: var(--main-green-color);
}

.activeIcon {
  fill: var(--main-green-color);
  vertical-align: text-top;
}

.activeText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--main-black-color);
}

.weight {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--main-black-color);
  margin-bottom: 14px;
}

.activityTime {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--main-black-color);
  margin-bottom: 24px;
}

.requiredWater {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 14px;
}

.reqWaterDescription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
}

.water {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-green-color);
}

.waterIntake {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--main-black-gray-color);
  margin-bottom: 40px;
}

.saveBtn {
  padding: 14px 40px;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-black-color);
  cursor: pointer;
  background-color: var(--main-green-color);
  transition: background-color var(--animation);
}

.saveBtn:hover,
.saveBtn:active {
  background-color: var(--main-green-color-active);
}

@media screen and (min-width: 768px) {
  .wraper {
    max-width: 648px;
    width: 648px;
    padding: 40px;
  }

  .title {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
  }

  .avatarImg {
    width: 100px;
    height: 100px;
  }

  .avatarBtn {
    font-size: 16px;
    line-height: 1.5;
  }

  .avatarSvg {
    width: 21px;
    height: 21px;
  }

  .params {
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.01em;
  }

  .genderRadio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
  }

  .input {
    padding: 15px 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
  }

  .input::placeholder {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
  }

  .dailyNormaList {
    flex-direction: row;
    gap: 28px;
  }

  .formulaTitle {
    font-size: 16px;
    line-height: 1.5;
  }

  .dailyNormaFormula {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 4px;
  }

  .dailyNormaText {
    font-size: 16px;
    line-height: 1.5;
  }

  .activeIcon {
    width: 22px;
    height: 22px;
  }

  .activeText {
    font-size: 16px;
    line-height: 1.5;
  }

  .weight {
    font-size: 16px;
    line-height: 1.5;
  }

  .activityTime {
    font-size: 16px;
    line-height: 1.5;
  }

  .requiredWater {
    flex-direction: row;
    align-items: center;
  }

  .reqWaterDescription {
    font-size: 16px;
    line-height: 1.5;
  }

  .water {
    font-size: 15px;
    line-height: 1.49;
  }

  .saveBtn {
    padding: 16px 50px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .wraper {
    max-width: 920px;
    width: 920px;
  }

  .userInfoContainer {
    display: flex;
    gap: 40px;
  }

  .userInfoSection {
    width: calc((100% - 40px) / 2);
  }

  .weight {
    margin-top: 86px;
  }

  .reqWaterDescription {
    max-width: 361px;
  }
}
